body{
  background-color:#333;
  }

.container {
  background: #428bca;
  padding-top: 1%;
  }

.redes-sociales{
  padding-top: 20%;
}

#img-redes{
  padding-top: 9%;
  padding-left: 30%;
}
#img-redes img{
  height: 40px;
  float: left;
}

/*--section--*/

.navbar{
  background: #FFFF00;
  width: 100%;
  text-align: center;
  justify-content: center;
  }

ul{
  text-align: center;
   width: 100%;
  }
  ul li{
    text-align: center;
     width: 16.2%;
    }
  .main{
    margin-top: 20px;
    margin-bottom: 20px;
    }

  .post{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
        }
.post .thumb{
  margin-right: 10px;
  width: 40%;
}
.post .thumb img{
  width: 100%;
}

/*--MEDIA QUERIE--*/

@media screen and (max-width: 768px){
  .post .thumb {
    width: 100%;
    margin-bottom: 40px;
    margin-right: 0;
    }
    }
